<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DAdvocateDiaryConnectionString" connectionString="Data Source=IFOUR-27\SQL2016;Initial Catalog=DBugReporting;Integrated Security=False; User ID=sa; Password = ifour@1234;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages buffer="true" theme="Admin" controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ew" assembly="eWorld.UI, Assembly=2.0.0.2201" namespace="eWorld.UI"/>
        <add src="~/UserControl/ShowInfo.ascx" tagPrefix="ucMessage" tagName="ShowMessage"/>
        <add src="~/UserControl/ucHelp.ascx" tagPrefix="ucHelp" tagName="ShowHelp"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>